.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5dvh;
  padding: 32px 96px;
  background: var(--bg-lighter);
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--text);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(8px);
}

.header-left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 32px;
}

/* --- NAV STYLES --- */
.nav-main ul,
.nav-side ul {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style: none;
}

.nav-main a,
.nav-side a {
  text-decoration: none;
  color: var(--text);
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease, text-shadow 0.3s ease;
}

/* --- BRAND --- */
.brand {
  color: var(--brand-1);
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 900;
}

/* --- NAV ITEM (left side) --- */
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.nav-item:hover {
  transform: scale(1.05);
  background: var(--bg-darker);
}

.selected {
    display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s ease;
  background: var(--bg-darkest);
  font-weight: bold;
}

/* --- ICONS --- */
.icon {
  height: 32px;
  width: 32px;
  filter: invert(1);
}

.icon-btn {
  height: 32px;
  width: 32px;
  filter: invert(1);
  transition: transform 0.2s ease, filter 0.3s ease;
}

.icon-btn:hover {
  transform: scale(1.1);
}

/* --- PROFILE BUTTON --- */
.profile {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid var(--text);
    object-fit: cover;
  transition: transform 0.2s ease, filter 0.3s ease;
}
