@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Text */
  --text:       #EDEDED;
  --text-muted: #A0A0A0;

  /* Backgrounds */
  --bg-darkest: #0E0E10;
  --bg-darker:  #1A1A1D;
  --bg:         #2A2A2D;
  --bg-lighter: #3A3A3D;
  --bg-lightest:#505055;
  --bg-lightest-card:80,80,85; 
  --brand-card: 246, 255, 99;
  --bg-card:    42, 42, 45;

  /* Brand Colors */
  --brand-1: #6C63FF;
  --brand-2: #F6FF63;

  /* Accents */
  --accent-correct: #3DDC84;
  --accent-caution: #FFB84C;
  --accent-error: #FF4D4D;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: var(--bg-darkest);
    width: 100dvw;
    scroll-behavior: smooth;
}