*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

nav{
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 100%;
    max-width: 100%;
}

img{
    width: 24px;
    height: 24px;
    color: var(--color-brand-1);
}

button{
    color: var(--color-text-primary);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.navbar-elements{
    display: flex;
    gap: 30px;
    margin-right: 20px;
}


/* * ---------------------------------------------------------
 * Primary Navbar components
 * ---------------------------------------------------------
 */

.primary-navbar{
    height: 60px;
    background-color: var(--color-complement-3);
}

.logo{
    width: auto;
    height: 50px;
}

.primary-navbar button{
    display: flex;
    gap: 5px;
    align-items: center;
}


/* * ---------------------------------------------------------
 * Secondary Navbar components
 * ---------------------------------------------------------
 */

.secondary-navbar{
    height: 45px;
    padding: 10px 0 10px 50px;
    background-color: var(--color-complement-2);
}

.secondary-navbar button{
    color: var(--color-text-secondary);
}

.search{
    display: flex;
    align-items: center;
    margin-left: -15%;
}

.input-search{
    border: none;
    padding-left: 20px;
    height: 30px;
    width: 550px;
    border-radius: 8px;
    background-color: var(--color-bg-secondary);
    color: var(--color-text-primary);
    transition: 0.3s ease;
}

.input-search::placeholder{
    color: var(--color-complement-3);
}

.input-search:focus{
    background-color: var(--color-complement-3);
}
.input-search:focus::placeholder{
    color: var(--color-text-primary);
}

.search button{
    background-color: transparent;
    margin-left: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button img{
    width: 18px;
    height: 18px;
}

.button-color-switch{
    margin-right: 20px;
}