*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

form{
    width: 500px;
    height: fit-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-bg-secondary);
    border-radius: 16px;
}

.input-text{
    width: 100%;
    height: 35px;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    background-color: var(--color-complement-2);
    color: var(--color-text-primary);
    transition: 0.3s ease-in-out;
}
.input-text::placeholder{
    color: var(--color-text-secondary);
}
.input-text:focus{
    outline-color: var(--color-complement-1);
}

.button-link{
    width: fit-content;
    text-align: start;
    padding: 0 15px;
    color: var(--color-text-secondary);
}

.button-primary{
    height: 35px;
    width: 60%;
    align-self: center;
    background-color: var(--color-brand-1);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.oauth{
    width: 60%;
    align-self: center;
    display: flex;
    justify-content: space-around;
}

.button-easy-access img{
    width: 32px;
    height: 32px;
}

.button-create{
    color: var(--color-text-primary);
    font-weight: bold;
    font-size: 12px;
}


.wrapper{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password{
    display: flex;
}

.button-show{
    margin-left: -10%;
}

.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.check-box{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-text-secondary);
}

.button-primary{
    color: var(--color-text-primary);
}