*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.signup-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 3px solid black;
    width: 600px;
    border-radius: 16px;
}

form input{
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: lightgray;
    outline-color: green;
    padding-left: 25px;
}

.signup-wrapper{
    margin: auto;
}

.signup-wrapper form{
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    align-items: center;
}

.data-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.data-inputs input{
    width: 400px;
    height: 35px;
}

.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.check-box{
    width: 400px;
    height: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.check-box input{
    width: 20px;
    height: 20px;
}

.register{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-button button{
    width: 245px;
    height: 35px;
    border: none;
    border-radius: 8px;
    background-color: #6C63FF;
    color: white;
}

.simple-register{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.simple-register button{
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
}

